<div class="centre">
    <mat-card class="example-card">
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div>
            <p>Create an Account.</p>
          </div>
          <div fxLayout="column" fxLayoutAlign="space-around">
            <div>
              <mat-form-field>
                <input matInput type="text" placeholder="Username" [formControl]="form.controls['username']">
              <mat-error *ngIf="form.controls['username'].hasError('required') && form.controls['username'].touched"
                >You must include username.</mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput placeholder="Email address" type="email" [formControl]="form.controls['email']">
              <mat-error *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" >You
                must include an email address.</mat-error>
              <mat-error *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched" >You
                must include a valid email address.</mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" [formControl]="form.controls['password']">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched"
                >You must include password.</mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput placeholder="Confirm Password" [formControl]="form.controls['confirmPassword']" [type]="hide1 ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched"
                >You must include confirm password.</mat-error>
              <mat-error *ngIf="form.controls['confirmPassword'].errors?.equalTo" >Passwords do not
                math.</mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Role</mat-label>
                <mat-select [formControl]="form.controls['role']">
                  <mat-option value="Admin">Admin</mat-option>
                </mat-select>
              <mat-error *ngIf="form.controls['role'].hasError('required') && form.controls['role'].touched"
                >You must include role.</mat-error>
              </mat-form-field>
            </div>
            <button mat-raised-button type="submit" [disabled]="!form.valid">Create your account</button>
            <button type="button" mat-raised-button (click)='signIn()'>SignIn</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  