<div class="centre">
<mat-card class="example-card">
    <mat-card-header >
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Infinity Managment</mat-card-title>
      <mat-card-subtitle>Stage PFE</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/infinity.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        INFINITY MANAGEMENT, société de conseil en ingénierie, spécialisée en transformation digitale et en solutions innovantes. 
        Nous accompagnons nos clients à penser et à implémenter l’ère digitale. 
        Nous intervenons auprès des grands acteurs de nombreux secteurs : Industrie, automobile, banque, finance, Assurances, télécoms, etc..
        Notre objectif est d’accompagner nos clients dans la création de solutions orientées métier grâce à nos équipes expérimentés et hautement qualifiés.
        Dans le cadre de l’expansion de nos activités, nous recherchons un stagiaire PFE : Ingénieur Node.JS. 
        <br> Il suffit de cliquer sur le bouton ci-dessous.
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button class="centre" mat-menu-item class="menu-item" routerLink="/dashboard/postuler">Postuler</button>
    </mat-card-actions>
  </mat-card>
</div>
 